
<!-- <router-outlet></router-outlet> -->

<!-- <form [formGroup]="myForm"  (ngSubmit)="onSubmit(myForm, $event)" >
  <imgs-upload [max]="7" [items]="imgs" formControlName="productImgs"></imgs-upload>
  
</form>
<button ion-button (click)="onSubmit(myForm, $event)">发送</button> -->

<form [formGroup]="myForm">
  <app-imgs-upload [max]=7 [items]="imgs" formControlName="productImgs"></app-imgs-upload>
  <p *ngIf="myForm.get('productImgs').errors">{{ myForm.get('productImgs').errors.imgsError}}</p>
</form>